In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv('/Applications/dataSets/zomato.csv')

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 51717 entries, 0 to 51716
Data columns (total 17 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   url                          51717 non-null  object
 1   address                      51717 non-null  object
 2   name                         51717 non-null  object
 3   online_order                 51717 non-null  object
 4   book_table                   51717 non-null  object
 5   rate                         43942 non-null  object
 6   votes                        51717 non-null  int64
 7   phone                        50509 non-null  object
 8   location                     51696 non-null  object
 9   rest_type                    51490 non-null  object
 10  dish_liked                   23639 non-null  object
 11  cuisines                     51672 non-null  object
 12  approx_cost(for two people)  51371 non-null  object
 13  reviews_list                 51717 non-null  object
 14  menu_item                    51717 non-null  object
 15  listed_in(type)              51717 non-null  object
 16  listed_in(city)              51717 non-null  object
dtypes: int64(1), object(16)
memory usage: 6.7+ MB

In [4]:
df.describe()

              votes
count  51717.000000
mean     283.697527
std      803.838853
min        0.000000
25%        7.000000
50%       41.000000
75%      198.000000
max    16832.000000

In [5]:
df.isnull().sum()

url                                0
address                            0
name                               0
online_order                       0
book_table                         0
rate                            7775
votes                              0
phone                           1208
location                          21
rest_type                        227
dish_liked                     28078
cuisines                          45
approx_cost(for two people)      346
reviews_list                       0
menu_item                          0
listed_in(type)                    0
listed_in(city)                    0
dtype: int64

In [6]:
df['rate'].unique() #two things 'new' and 'nan' need to be handle

array(['4.1/5', '3.8/5', '3.7/5', '3.6/5', '4.6/5', '4.0/5', '4.2/5',
       '3.9/5', '3.1/5', '3.0/5', '3.2/5', '3.3/5', '2.8/5', '4.4/5',
       '4.3/5', 'NEW', '2.9/5', '3.5/5', nan, '2.6/5', '3.8 /5', '3.4/5',
       '4.5/5', '2.5/5', '2.7/5', '4.7/5', '2.4/5', '2.2/5', '2.3/5',
       '3.4 /5', '-', '3.6 /5', '4.8/5', '3.9 /5', '4.2 /5', '4.0 /5',
       '4.1 /5', '3.7 /5', '3.1 /5', '2.9 /5', '3.3 /5', '2.8 /5',
       '3.5 /5', '2.7 /5', '2.5 /5', '3.2 /5', '2.6 /5', '4.5 /5',
       '4.3 /5', '4.4 /5', '4.9/5', '2.1/5', '2.0/5', '1.8/5', '4.6 /5',
       '4.9 /5', '3.0 /5', '4.8 /5', '2.3 /5', '4.7 /5', '2.4 /5',
       '2.1 /5', '2.2 /5', '2.0 /5', '1.8 /5'], dtype=object)

In [7]:
print('shape :',df.shape)
df['rate'].head()

shape : (51717, 17)

0    4.1/5
1    4.1/5
2    3.8/5
3    3.7/5
4    3.8/5
Name: rate, dtype: object

In [8]:
extractingRate=[]
for i in df['rate']:
    try:
        converting = float(str(i[0])+str(i[1])+str(i[2]))
        extractingRate.append(converting)
    except:
        extractingRate.append(np.nan)
df['rate'] = pd.DataFrame(extractingRate)

In [9]:
df['rate'].isna().sum()

10052

In [10]:
df[df['rate']=='NEW'] #NEW is replaced with np.nan.

/opt/anaconda3/lib/python3.7/site-packages/pandas/core/ops/array_ops.py:252: FutureWarning: elementwise comparison failed; returning scalar instead, but in the future will perform elementwise comparison
  res_values = method(rvalues)

Empty DataFrame
Columns: [url, address, name, online_order, book_table, rate, votes, phone, location, rest_type, dish_liked, cuisines, approx_cost(for two people), reviews_list, menu_item, listed_in(type), listed_in(city)]
Index: []

## Filling NaN with KNNImputer

In [11]:
df[df['rate'].isnull()] #checking null values in rate columns

,url,address,name,online_order,book_table,rate,votes,phone,location,rest_type,dish_liked,cuisines,approx_cost(for two people),reviews_list,menu_item,listed_in(type),listed_in(city)
72,https://www.zomato.com/bangalore/spicy-tandoor...,"Opposite ICICi Bank, Hanuman Nagar, Banashanka...",Spicy Tandoor,No,No,NaN,0,+91 8050884222,Banashankari,Quick Bites,NaN,North Indian,150,"[('Rated 4.0', 'RATED\n cost for chicken roll...",[],Delivery,Banashankari
75,https://www.zomato.com/bangalore/om-sri-vinaya...,"39, S B M Colony, Near-Sita Circle, 1st Stage,...",Om Sri Vinayaka Chats,No,No,NaN,0,+91 8553206035,Banashankari,"Takeaway, Delivery",NaN,"Street Food, Fast Food",500,[],[],Delivery,Banashankari
84,https://www.zomato.com/bangalore/chill-out-ban...,"161/C, 6th Main, 80 Feet Road, Bhuvaneshwari N...",Chill Out,No,No,NaN,0,+91 9341215167,Banashankari,Quick Bites,NaN,"South Indian, Chinese",100,"[('Rated 4.0', 'RATED\n Good Location. Small ...",[],Delivery,Banashankari
90,https://www.zomato.com/bangalore/me-and-my-cak...,"BDA Shopping Complex, 24th Cross Road, Siddann...",Me And My Cake,No,No,NaN,0,+91 9036070410,Banashankari,Delivery,NaN,"Bakery, Desserts",500,"[('Rated 1.0', 'RATED\n Do not order anything...",[],Delivery,Banashankari
91,https://www.zomato.com/bangalore/sunsadm-banas...,"Shop 18 , 3rd cross road,Markandeya Layout, Ba...",Sunsadm,No,No,NaN,0,+91 7829290358,Banashankari,"Takeaway, Delivery",NaN,South Indian,400,[],[],Delivery,Banashankari
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
51644,https://www.zomato.com/bangalore/punjabi-thadk...,"7/3, ASK Tower, Kundanahalli Gate, Next to Bat...",Punjabi Thadka,No,No,NaN,0,+91 7338330336\n+91 9591568221,Brookefield,Quick Bites,NaN,North Indian,400,[],[],Dine-out,Whitefield
51675,https://www.zomato.com/bangalore/topsy-turvey-...,"2E2, 4th Cross Road, Devasandra Industrial Est...",Topsy Turvey,No,No,NaN,0,+91 9148155994,Whitefield,Bar,NaN,Finger Food,900,"[('Rated 4.0', ""RATED\n A divine joint for Fl...",[],Drinks & nightlife,Whitefield
51710,https://www.zomato.com/bangalore/topsy-turvey-...,"2E2, 4th Cross Road, Devasandra Industrial Est...",Topsy Turvey,No,No,NaN,0,+91 9148155994,Whitefield,Bar,NaN,Finger Food,900,"[('Rated 4.0', ""RATED\n A divine joint for Fl...",[],Pubs and bars,Whitefield
51713,https://www.zomato.com/bangalore/vinod-bar-and...,"Number 10, Garudachar Palya, Mahadevapura, Whi...",Vinod Bar And Restaurant,No,No,NaN,0,+91 8197675843,Whitefield,Bar,NaN,Finger Food,600,[],[],Pubs and bars,Whitefield
51714,https://www.zomato.com/bangalore/plunge-sherat...,Sheraton Grand Bengaluru Whitefield Hotel & Co...,Plunge - Sheraton Grand Bengaluru Whitefield H...,No,No,NaN,0,NaN,Whitefield,Bar,NaN,Finger Food,"2,000",[],[],Pubs and bars,Whitefield

In [12]:
from sklearn.impute import KNNImputer
imputer = KNNImputer(n_neighbors = 2)
value  = imputer.fit_transform(df[['rate']])
print(value)

[[4.1       ]
 [4.1       ]
 [3.8       ]
 ...
 [3.70044882]
 [4.3       ]
 [3.4       ]]

In [13]:
value[72]

array([3.70044882])

In [14]:
df['rate'][72]

nan

In [15]:
df['rate']=pd.DataFrame(value)

In [16]:
df['rate'][72]

3.700448817952718

## Location

In [17]:
df.isnull().sum()

url                                0
address                            0
name                               0
online_order                       0
book_table                         0
rate                               0
votes                              0
phone                           1208
location                          21
rest_type                        227
dish_liked                     28078
cuisines                          45
approx_cost(for two people)      346
reviews_list                       0
menu_item                          0
listed_in(type)                    0
listed_in(city)                    0
dtype: int64

In [18]:
df[df['location'].isnull()]

,url,address,name,online_order,book_table,rate,votes,phone,location,rest_type,dish_liked,cuisines,approx_cost(for two people),reviews_list,menu_item,listed_in(type),listed_in(city)
1662,https://www.zomato.com/bangalore/papa-khan-ras...,"6, Abbiah Layout KC Halli Main Road, Bommanaha...",Papa Khan Rasoi,No,No,3.700449,0,NaN,NaN,NaN,NaN,NaN,NaN,[],[],Delivery,Bannerghatta Road
9874,https://www.zomato.com/bangalore/papa-khan-ras...,"6, Abbiah Layout KC Halli Main Road, Bommanaha...",Papa Khan Rasoi,No,No,3.700449,0,NaN,NaN,NaN,NaN,NaN,NaN,[],[],Delivery,BTM
13693,https://www.zomato.com/bangalore/mohabbat-desi...,"Chandapura- Anakal Main Road, Oppsite Vemana H...",Mohabbat Desi Restaurant,No,No,3.700449,0,NaN,NaN,NaN,NaN,NaN,NaN,[],[],Delivery,Electronic City
16351,https://www.zomato.com/bangalore/desi-chatkara...,"Kudlu Gate, Bommanahalli, Bangalore",Desi Chatkara,No,No,3.700449,0,NaN,NaN,NaN,NaN,NaN,NaN,[],[],Delivery,HSR
26432,https://www.zomato.com/bangalore/new-taj-birya...,"IB Road, Lorry Stand, Kushaal Nagar, Ward 10, ...",New Taj Biryani Centre,No,No,3.700449,0,NaN,NaN,NaN,NaN,NaN,NaN,[],[],Dine-out,Kammanahalli
26519,https://www.zomato.com/bangalore/abs-absolute-...,"Koramangala 8th Block, Bangalore",AB's - Absolute Barbecues,No,No,3.700449,0,NaN,NaN,NaN,NaN,NaN,NaN,[],[],Buffet,Koramangala 4th Block
27672,https://www.zomato.com/bangalore/manchow-koram...,"6, Kathalipalya Village, 6th Cross, Koramangal...",Manchow,No,No,3.700449,0,NaN,NaN,NaN,NaN,NaN,NaN,[],[],Delivery,Koramangala 4th Block
28611,https://www.zomato.com/bangalore/manchow-koram...,"6, Kathalipalya Village, 6th Cross, Koramangal...",Manchow,No,No,3.700449,0,NaN,NaN,NaN,NaN,NaN,NaN,[],[],Dine-out,Koramangala 4th Block
29298,https://www.zomato.com/bangalore/abs-absolute-...,"Koramangala 8th Block, Bangalore",AB's - Absolute Barbecues,No,No,3.700449,0,NaN,NaN,NaN,NaN,NaN,NaN,[],[],Buffet,Koramangala 5th Block
30604,https://www.zomato.com/bangalore/manchow-koram...,"6, Kathalipalya Village, 6th Cross, Koramangal...",Manchow,No,No,3.700449,0,NaN,NaN,NaN,NaN,NaN,NaN,[],[],Delivery,Koramangala 5th Block
31400,https://www.zomato.com/bangalore/manchow-koram...,"6, Kathalipalya Village, 6th Cross, Koramangal...",Manchow,No,No,3.700449,0,NaN,NaN,NaN,NaN,NaN,NaN,[],[],Dine-out,Koramangala 5th Block
32131,https://www.zomato.com/bangalore/abs-absolute-...,"Koramangala 8th Block, Bangalore",AB's - Absolute Barbecues,No,No,3.700449,0,NaN,NaN,NaN,NaN,NaN,NaN,[],[],Buffet,Koramangala 6th Block
33457,https://www.zomato.com/bangalore/la-lunch-box-...,"80 Feet Road, Koramangala 4th Block, Bangalore",La Lunch Box,No,No,3.700449,0,NaN,NaN,NaN,NaN,NaN,NaN,[],[],Delivery,Koramangala 6th Block
34755,https://www.zomato.com/bangalore/abs-absolute-...,"Koramangala 8th Block, Bangalore",AB's - Absolute Barbecues,No,No,3.700449,0,NaN,NaN,NaN,NaN,NaN,NaN,[],[],Buffet,Koramangala 7th Block
40354,https://www.zomato.com/bangalore/the-happy-veg...,"399/34, 19th Main, Near Navarang Theatre, 2nd ...",The Happy Vegetarian,No,No,3.700449,0,NaN,NaN,NaN,NaN,NaN,NaN,[],[],Dine-out,Malleshwaram
40556,https://www.zomato.com/bangalore/risalo-restau...,"1630, 6th Main Road, AECS Layout E Block, Mara...",Risalo Restaurant,No,No,3.700449,0,NaN,NaN,NaN,NaN,NaN,NaN,[],[],Cafes,Marathahalli
41980,https://www.zomato.com/bangalore/risalo-restau...,"1630, 6th Main Road, AECS Layout E Block, Mara...",Risalo Restaurant,No,No,3.700449,0,NaN,NaN,NaN,NaN,NaN,NaN,[],[],Dine-out,Marathahalli
46586,https://www.zomato.com/bangalore/the-cinema-vi...,"9, Magadi Main Road, Cholourpalya, Vijay Nagar",The Cinema,No,No,3.700449,0,NaN,NaN,NaN,NaN,NaN,NaN,[],[],Delivery,Rajajinagar
46609,https://www.zomato.com/bangalore/grill-biryani...,"West of Chord Road, Govindaraja Nagar, Below H...",Grill Biryanis,No,No,3.700449,0,NaN,NaN,NaN,NaN,NaN,NaN,[],[],Delivery,Rajajinagar
46752,https://www.zomato.com/bangalore/the-happy-veg...,"399/34, 19th Main, Near Navarang Theatre, 2nd ...",The Happy Vegetarian,No,No,3.700449,0,NaN,NaN,NaN,NaN,NaN,NaN,[],[],Dine-out,Rajajinagar
47134,https://www.zomato.com/bangalore/the-cinema-vi...,"9, Magadi Main Road, Cholourpalya, Vijay Nagar",The Cinema,No,No,3.700449,0,NaN,NaN,NaN,NaN,NaN,NaN,[],[],Dine-out,Rajajinagar

In [19]:
df['location'][df['location'].isnull()] = "Somewhere in Bangalore(address was missing -_- )"

/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [20]:
df['location'].isnull().sum()
df['location'][1662]

'Somewhere in Bangalore(address was missing -_- )'

## rest_type

In [21]:
df['rest_type'].isnull().sum()

227

In [22]:
df[df['rest_type'].isnull()]

,url,address,name,online_order,book_table,rate,votes,phone,location,rest_type,dish_liked,cuisines,approx_cost(for two people),reviews_list,menu_item,listed_in(type),listed_in(city)
999,https://www.zomato.com/bangalore/mughlai-kitch...,"77/2 BDA Road, Opposite RR Layout, BTM 6th Sta...",Mughlai Kitchen,Yes,No,3.500000,269,+91 9663197947\r\r\n+91 9986692090,BTM,NaN,"Momos, Oreo Shake","Mughlai, North Indian, Chinese, Momos",600,"[('Rated 5.0', ""RATED\n Ordered Chicken Kadai...","['Fry Chicken Kabab [5 Pieces]', 'Fry Chicken ...",Delivery,Bannerghatta Road
1300,https://www.zomato.com/bangalore/eat-joy-resta...,"21, Saifee Apartment, 5th Cross, 22nd Main, Ne...",Eat & Joy Restaurant,Yes,No,3.000000,7,+91 9945052352,JP Nagar,NaN,NaN,"Fast Food, Finger Food",300,"[('Rated 1.0', 'RATED\n I had ordered for one...",[],Delivery,Bannerghatta Road
1376,https://www.zomato.com/bangalore/kababish-rest...,"7th Main, 18th Cross NS Palya, 2nd Stage",Kababish Restaurant,Yes,No,3.600000,15,+91 8050732123\r\n00 805074123,BTM,NaN,NaN,"North Indian, Chinese, Arabian",700,"[('Rated 2.0', 'RATED\n You would only go to ...",[],Delivery,Bannerghatta Road
1565,https://www.zomato.com/bangalore/goli-vada-pav...,"81/3, Hulimavu Road, Opposite Meenakshi Mall, ...",Goli Vada Pav No 1,No,No,3.700449,0,+91 9900561532\r\n+91 8971051846,Bannerghatta Road,NaN,NaN,"Street Food, Burger",150,[],[],Delivery,Bannerghatta Road
1637,https://www.zomato.com/bangalore/ammis-biryani...,"3, 1st Cross, Kalyani Kala Mandir, Bannerghatt...",Ammi's Biryani,No,No,2.400000,392,+91 9513777152\r\n080 39457777,Bannerghatta Road,NaN,"Chicken Biryani, Hyderabadi Biryani, Rolls, Mu...","Biryani, North Indian",500,"[('Rated 3.0', 'RATED\n If you a spicy biriya...",[],Delivery,Bannerghatta Road
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
50978,https://www.zomato.com/bangalore/snack-itt-whi...,"Seegahalli Road, Whitefield, Bangalore",Snack Itt,No,No,3.700449,0,+91 9916655579,Whitefield,NaN,NaN,Bakery,200,[],[],Desserts,Whitefield
51130,https://www.zomato.com/bangalore/pindi-bangalo...,"13/72, 1st Floor, Nallurhalli Road, Siddhapura...",Pindi Bangalore,Yes,No,3.700449,0,080 71967670,Whitefield,NaN,NaN,"North Indian, Chinese, Biryani, Street Food",900,"[('Rated 1.0', 'RATED\n Packaging was good an...","['Basmati Jeera Rice', 'Dal Khichdi', 'Pind Da...",Dine-out,Whitefield
51195,https://www.zomato.com/bangalore/special-birya...,"107, Praveen Transport Complex, ITPL Back Gate...",Special Biryani House,Yes,No,3.200000,202,+91 9164859311\n+91 9164871033,Whitefield,NaN,NaN,"North Indian, Biryani, Chinese",400,"[('Rated 4.0', 'RATED\n Had ordered spicy chi...","['Veg Biryani', 'Egg Biryani', 'Chicken Biryan...",Dine-out,Whitefield
51294,https://www.zomato.com/bangalore/red-roost-whi...,"1, Building 2, KCB Brick Factory Campus, Near ...",Red Roost,No,No,3.700449,0,+91 8746844477,Whitefield,NaN,NaN,"North Indian, South Indian",500,[],[],Dine-out,Whitefield
51303,https://www.zomato.com/bangalore/bawarchi-rest...,"10-369, 10th Cross, Ambedkar Nagar, Hope Farm ...",Bawarchi Restaurant,Yes,No,3.700449,0,+91 8747022949,Whitefield,NaN,NaN,"Biryani, North Indian, Chinese, Rolls, Beverages",400,"[('Rated 1.0', 'RATED\n Very bad food. Qualit...",[],Dine-out,Whitefield

In [23]:
df['rest_type'].head()

0          Casual Dining
1          Casual Dining
2    Cafe, Casual Dining
3            Quick Bites
4          Casual Dining
Name: rest_type, dtype: object

In [24]:
df['rest_type'][df['rest_type'].isnull()]= "Some type(rest_type was missing -_- )"

/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [25]:
df['rest_type'].isnull().sum()

0

## approx_cost(for two people)

In [26]:
df['approx_cost(for two people)'].head()

0    800
1    800
2    800
3    300
4    600
Name: approx_cost(for two people), dtype: object

### fillig approx_cost(for two people) with KNNImputer

In [27]:
np.sqrt(len(df['approx_cost(for two people)']))

227.41371990273586

In [28]:
df[df['approx_cost(for two people)'].isnull()]

,url,address,name,online_order,book_table,rate,votes,phone,location,rest_type,dish_liked,cuisines,approx_cost(for two people),reviews_list,menu_item,listed_in(type),listed_in(city)
1662,https://www.zomato.com/bangalore/papa-khan-ras...,"6, Abbiah Layout KC Halli Main Road, Bommanaha...",Papa Khan Rasoi,No,No,3.700449,0,NaN,Somewhere in Bangalore(address was missing -_- ),Some type(rest_type was missing -_- ),NaN,NaN,NaN,[],[],Delivery,Bannerghatta Road
1768,https://www.zomato.com/bangalore/innate-jp-nag...,"45, 14th Main, 7th phase, Puttehahalli Palya, ...",Innate,No,No,3.700449,0,NaN,JP Nagar,Delivery,NaN,Beverages,NaN,[],[],Delivery,Bannerghatta Road
1795,https://www.zomato.com/bangalore/super-chefs-b...,"8/3, Opposite Suryadhoya Convention hall, Bann...",Super Chef's (New Royal treat),No,No,3.700449,0,NaN,Bannerghatta Road,Quick Bites,NaN,"North Indian, Chinese, South Indian",NaN,"[('Rated 1.0', 'RATED\n Many items were missi...",[],Delivery,Bannerghatta Road
3069,https://www.zomato.com/bangalore/super-chefs-b...,"8/3, Opposite Suryadhoya Convention hall, Bann...",Super Chef's (New Royal treat),No,No,3.700449,0,NaN,Bannerghatta Road,Quick Bites,NaN,"North Indian, Chinese, South Indian",NaN,"[('Rated 1.0', 'RATED\n Many items were missi...",[],Delivery,Basavanagudi
3774,https://www.zomato.com/bangalore/the-hub-ibis-...,"Ibis Bengaluru, Opposite RMZ Ecospace Business...",The Hub - Ibis Bengaluru,No,No,3.900000,237,NaN,Marathahalli,Bar,"Dal Makhani, Cocktails, Lunch Buffet, Breakfas...",Finger Food,NaN,"[('Rated 4.0', 'RATED\n The Hub is a small ba...",[],Buffet,Bellandur
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
50940,https://www.zomato.com/bangalore/cinnabon-whit...,"Ground Floor, The Forum Neighborhood Mall, Pre...",Cinnabon,No,No,4.000000,80,NaN,Whitefield,Quick Bites,"Rolls, Cinnamon Roll, Cinnamon Bun","Beverages, American, Bakery",NaN,"[('Rated 4.0', ""RATED\n Who else is a Cinnabo...",[],Desserts,Whitefield
51233,https://www.zomato.com/bangalore/mayas-kitchen...,"43/9, Borewell Rd, Palm Meadows, Nallurhalli, ...",Mayas kitchen,No,No,3.700449,0,NaN,Whitefield,Casual Dining,NaN,"South Indian, Chinese, Chettinad",NaN,"[('Rated 4.0', ""RATED\n Food was pretty good,...",[],Dine-out,Whitefield
51247,https://www.zomato.com/bangalore/mast-kalandar...,"D64, 33, 1st Floor, Sundari Armadale, Next To ...",Mast Kalandar,No,No,2.600000,76,NaN,Whitefield,Casual Dining,"Gulab Jamun, Lassi, Dal Makhani, Buttermilk, T...",North Indian,NaN,"[('Rated 1.0', 'RATED\n Terrible food in this...",[],Dine-out,Whitefield
51271,https://www.zomato.com/bangalore/karavalli-foo...,"N254-107, 1st Main Road, Near ITPL Gate 3, KIA...",Karavalli Food Court,No,No,3.200000,4,NaN,Whitefield,Casual Dining,NaN,South Indian,NaN,"[('Rated 1.0', 'RATED\n i was a regular custo...",[],Dine-out,Whitefield
51641,https://www.zomato.com/bangalore/andhra-spices...,"188, ITPL Main Road, Brookefields, Bangalore, ...",Andhra Spices,No,No,3.200000,4,NaN,Brookefield,Quick Bites,NaN,"Andhra, Chinese, South Indian",NaN,"[('Rated 2.0', ""RATED\n Food is not upto the ...",[],Dine-out,Whitefield

In [29]:
print('Total null : ',df['approx_cost(for two people)'].isnull().sum())
print('Type = ',type(df['approx_cost(for two people)'][0])) #type of string which need to be converted into float.

Total null :  346
Type =  <class 'str'>

In [30]:
df['approx_cost(for two people)'] = df['approx_cost(for two people)'].str.replace(',','') #removing ',' (1,200 => 1200) check record no. 67.

In [41]:
imputer = KNNImputer(n_neighbors = 227) #np.sqrt(len(df['approx_cost(for two people)'])) =>227
value = imputer.fit_transform(df[['approx_cost(for two people)']])
df['approx_cost(for two people)'] = value #assigning value to the df['approx_cost(for two people)'].

In [42]:
print('Number of null values at approx_cost :',df['approx_cost(for two people)'].isnull().sum())
df['approx_cost(for two people)'][1162] #previously it was null

Number of null values at approx_cost : 0

700.0

## phone

In [46]:
df['phone'].isna().sum()

1208

In [47]:
df['phone'][df['phone'].isna()] = 'no-number'

/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [48]:
df['phone'].isna().sum()

0

## dish_liked

In [50]:
df['dish_liked'].isna().sum()

28078

In [53]:
df['dish_liked'][0]

'Pasta, Lunch Buffet, Masala Papad, Paneer Lajawab, Tomato Shorba, Dum Biryani, Sweet Corn Soup'

In [54]:
df['dish_liked'][df['dish_liked'].isna()] = 'Not available -_-'

/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [55]:
df['dish_liked'].isna().sum()

0

In [60]:
df.isnull().sum()

url                             0
address                         0
name                            0
online_order                    0
book_table                      0
rate                            0
votes                           0
phone                           0
location                        0
rest_type                       0
dish_liked                      0
cuisines                       45
approx_cost(for two people)     0
reviews_list                    0
menu_item                       0
listed_in(type)                 0
listed_in(city)                 0
dtype: int64

## cuisines

In [63]:
df['cuisines'][df['cuisines'].isna()].head()

438     NaN
440     NaN
759     NaN
1662    NaN
4037    NaN
Name: cuisines, dtype: object

In [65]:
df['cuisines']

0                North Indian, Mughlai, Chinese
1                   Chinese, North Indian, Thai
2                        Cafe, Mexican, Italian
3                    South Indian, North Indian
4                      North Indian, Rajasthani
                          ...
51712                               Continental
51713                               Finger Food
51714                               Finger Food
51715                               Finger Food
51716    Finger Food, North Indian, Continental
Name: cuisines, Length: 51717, dtype: object

In [66]:
df['cuisines'][df['cuisines'].isna()]='Not available -_-'

/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [67]:
df['cuisines'].isna().sum()

0

# ------------------------------------------------------------------------------------------

In [68]:
df.isna().sum()

url                            0
address                        0
name                           0
online_order                   0
book_table                     0
rate                           0
votes                          0
phone                          0
location                       0
rest_type                      0
dish_liked                     0
cuisines                       0
approx_cost(for two people)    0
reviews_list                   0
menu_item                      0
listed_in(type)                0
listed_in(city)                0
dtype: int64

In [69]:
df.head()

,url,address,name,online_order,book_table,rate,votes,phone,location,rest_type,dish_liked,cuisines,approx_cost(for two people),reviews_list,menu_item,listed_in(type),listed_in(city)
0,https://www.zomato.com/bangalore/jalsa-banasha...,"942, 21st Main Road, 2nd Stage, Banashankari, ...",Jalsa,Yes,Yes,4.1,775,080 42297555\r\n+91 9743772233,Banashankari,Casual Dining,"Pasta, Lunch Buffet, Masala Papad, Paneer Laja...","North Indian, Mughlai, Chinese",800.0,"[('Rated 4.0', 'RATED\n A beautiful place to ...",[],Buffet,Banashankari
1,https://www.zomato.com/bangalore/spice-elephan...,"2nd Floor, 80 Feet Road, Near Big Bazaar, 6th ...",Spice Elephant,Yes,No,4.1,787,080 41714161,Banashankari,Casual Dining,"Momos, Lunch Buffet, Chocolate Nirvana, Thai G...","Chinese, North Indian, Thai",800.0,"[('Rated 4.0', 'RATED\n Had been here for din...",[],Buffet,Banashankari
2,https://www.zomato.com/SanchurroBangalore?cont...,"1112, Next to KIMS Medical College, 17th Cross...",San Churro Cafe,Yes,No,3.8,918,+91 9663487993,Banashankari,"Cafe, Casual Dining","Churros, Cannelloni, Minestrone Soup, Hot Choc...","Cafe, Mexican, Italian",800.0,"[('Rated 3.0', ""RATED\n Ambience is not that ...",[],Buffet,Banashankari
3,https://www.zomato.com/bangalore/addhuri-udupi...,"1st Floor, Annakuteera, 3rd Stage, Banashankar...",Addhuri Udupi Bhojana,No,No,3.7,88,+91 9620009302,Banashankari,Quick Bites,Masala Dosa,"South Indian, North Indian",300.0,"[('Rated 4.0', ""RATED\n Great food and proper...",[],Buffet,Banashankari
4,https://www.zomato.com/bangalore/grand-village...,"10, 3rd Floor, Lakshmi Associates, Gandhi Baza...",Grand Village,No,No,3.8,166,+91 8026612447\r\n+91 9901210005,Basavanagudi,Casual Dining,"Panipuri, Gol Gappe","North Indian, Rajasthani",600.0,"[('Rated 4.0', 'RATED\n Very good restaurant ...",[],Buffet,Banashankari

In [70]:
df['listed_in(type)'].unique()

array(['Buffet', 'Cafes', 'Delivery', 'Desserts', 'Dine-out',
       'Drinks & nightlife', 'Pubs and bars'], dtype=object)

In [ ]:
#df['rest_type'].unique()

In [72]:
df['book_table'].unique()

array(['Yes', 'No'], dtype=object)

In [73]:
df['online_order'].unique()

array(['Yes', 'No'], dtype=object)

   # Encoding for
   ### 1. listed_in(type)
   ### 2. book_table
   ### 3. online_order

In [78]:
from sklearn.preprocessing import LabelEncoder

In [80]:
encoder = LabelEncoder() #book_table
encoding = encoder.fit_transform(df['book_table'])
book_table = pd.DataFrame(encoding,columns=['book_table'])
book_table.head()

   book_table
0           1
1           0
2           0
3           0
4           0

In [85]:
df['book_table'] = book_table
df['book_table']

0        1
1        0
2        0
3        0
4        0
        ..
51712    0
51713    0
51714    0
51715    1
51716    0
Name: book_table, Length: 51717, dtype: int64

In [94]:
encoder = LabelEncoder()   #online_order
encoding = encoder.fit_transform(df['online_order'])
online_order = pd.DataFrame(encoding,columns=['online_order'])
df['online_order'] = online_order
df['online_order'].head()

0    1
1    1
2    1
3    0
4    0
Name: online_order, dtype: int64

# -----------------------------------------

In [95]:
from sklearn.preprocessing import OneHotEncoder

In [111]:
encoder = OneHotEncoder()
listed_in = encoder.fit_transform(df[['listed_in(type)']])
listed = pd.DataFrame(listed_in,columns=['listed'])

In [105]:
listed.tail()

              listed
51712    (0, 6)\t1.0
51713    (0, 6)\t1.0
51714    (0, 6)\t1.0
51715    (0, 6)\t1.0
51716    (0, 6)\t1.0

In [104]:
df['listed_in(type)'].tail()

51712    Pubs and bars
51713    Pubs and bars
51714    Pubs and bars
51715    Pubs and bars
51716    Pubs and bars
Name: listed_in(type), dtype: object

In [118]:
df['listed_in(type)'].head(10)

0    Buffet
1    Buffet
2    Buffet
3    Buffet
4    Buffet
5    Buffet
6    Buffet
7     Cafes
8     Cafes
9     Cafes
Name: listed_in(type), dtype: object

In [119]:
listed.head(10)

          listed
0    (0, 0)\t1.0
1    (0, 0)\t1.0
2    (0, 0)\t1.0
3    (0, 0)\t1.0
4    (0, 0)\t1.0
5    (0, 0)\t1.0
6    (0, 0)\t1.0
7    (0, 1)\t1.0
8    (0, 1)\t1.0
9    (0, 1)\t1.0

# ---------------------------------------------------

# get_dummies (creating dummies for listed_in(type) )

In [121]:
dummy = pd.get_dummies(df['listed_in(type)'])

In [122]:
dummy.head()

,Buffet,Cafes,Delivery,Desserts,Dine-out,Drinks & nightlife,Pubs and bars
0,1,0,0,0,0,0,0
1,1,0,0,0,0,0,0
2,1,0,0,0,0,0,0
3,1,0,0,0,0,0,0
4,1,0,0,0,0,0,0

In [123]:
df = pd.concat([df,dummy],axis='columns')

In [125]:
df.head()

,url,address,name,online_order,book_table,rate,votes,phone,location,rest_type,...,menu_item,listed_in(type),listed_in(city),Buffet,Cafes,Delivery,Desserts,Dine-out,Drinks & nightlife,Pubs and bars
0,https://www.zomato.com/bangalore/jalsa-banasha...,"942, 21st Main Road, 2nd Stage, Banashankari, ...",Jalsa,1,1,4.1,775,080 42297555\r\n+91 9743772233,Banashankari,Casual Dining,...,[],Buffet,Banashankari,1,0,0,0,0,0,0
1,https://www.zomato.com/bangalore/spice-elephan...,"2nd Floor, 80 Feet Road, Near Big Bazaar, 6th ...",Spice Elephant,1,0,4.1,787,080 41714161,Banashankari,Casual Dining,...,[],Buffet,Banashankari,1,0,0,0,0,0,0
2,https://www.zomato.com/SanchurroBangalore?cont...,"1112, Next to KIMS Medical College, 17th Cross...",San Churro Cafe,1,0,3.8,918,+91 9663487993,Banashankari,"Cafe, Casual Dining",...,[],Buffet,Banashankari,1,0,0,0,0,0,0
3,https://www.zomato.com/bangalore/addhuri-udupi...,"1st Floor, Annakuteera, 3rd Stage, Banashankar...",Addhuri Udupi Bhojana,0,0,3.7,88,+91 9620009302,Banashankari,Quick Bites,...,[],Buffet,Banashankari,1,0,0,0,0,0,0
4,https://www.zomato.com/bangalore/grand-village...,"10, 3rd Floor, Lakshmi Associates, Gandhi Baza...",Grand Village,0,0,3.8,166,+91 8026612447\r\n+91 9901210005,Basavanagudi,Casual Dining,...,[],Buffet,Banashankari,1,0,0,0,0,0,0

## droping listed_in(type) and one dummy variable(to get rid of dummy variable trap)

In [128]:
df = df.drop(columns =['listed_in(type)','Pubs and bars'])

In [129]:
df.head()

,url,address,name,online_order,book_table,rate,votes,phone,location,rest_type,...,approx_cost(for two people),reviews_list,menu_item,listed_in(city),Buffet,Cafes,Delivery,Desserts,Dine-out,Drinks & nightlife
0,https://www.zomato.com/bangalore/jalsa-banasha...,"942, 21st Main Road, 2nd Stage, Banashankari, ...",Jalsa,1,1,4.1,775,080 42297555\r\n+91 9743772233,Banashankari,Casual Dining,...,800.0,"[('Rated 4.0', 'RATED\n A beautiful place to ...",[],Banashankari,1,0,0,0,0,0
1,https://www.zomato.com/bangalore/spice-elephan...,"2nd Floor, 80 Feet Road, Near Big Bazaar, 6th ...",Spice Elephant,1,0,4.1,787,080 41714161,Banashankari,Casual Dining,...,800.0,"[('Rated 4.0', 'RATED\n Had been here for din...",[],Banashankari,1,0,0,0,0,0
2,https://www.zomato.com/SanchurroBangalore?cont...,"1112, Next to KIMS Medical College, 17th Cross...",San Churro Cafe,1,0,3.8,918,+91 9663487993,Banashankari,"Cafe, Casual Dining",...,800.0,"[('Rated 3.0', ""RATED\n Ambience is not that ...",[],Banashankari,1,0,0,0,0,0
3,https://www.zomato.com/bangalore/addhuri-udupi...,"1st Floor, Annakuteera, 3rd Stage, Banashankar...",Addhuri Udupi Bhojana,0,0,3.7,88,+91 9620009302,Banashankari,Quick Bites,...,300.0,"[('Rated 4.0', ""RATED\n Great food and proper...",[],Banashankari,1,0,0,0,0,0
4,https://www.zomato.com/bangalore/grand-village...,"10, 3rd Floor, Lakshmi Associates, Gandhi Baza...",Grand Village,0,0,3.8,166,+91 8026612447\r\n+91 9901210005,Basavanagudi,Casual Dining,...,600.0,"[('Rated 4.0', 'RATED\n Very good restaurant ...",[],Banashankari,1,0,0,0,0,0

In [130]:
df.columns

Index(['url', 'address', 'name', 'online_order', 'book_table', 'rate', 'votes',
       'phone', 'location', 'rest_type', 'dish_liked', 'cuisines',
       'approx_cost(for two people)', 'reviews_list', 'menu_item',
       'listed_in(city)', 'Buffet', 'Cafes', 'Delivery', 'Desserts',
       'Dine-out', 'Drinks & nightlife'],
      dtype='object')

In [137]:
df['location'].unique()

array(['Banashankari', 'Basavanagudi', 'Mysore Road', 'Jayanagar',
       'Kumaraswamy Layout', 'Rajarajeshwari Nagar', 'Vijay Nagar',
       'Uttarahalli', 'JP Nagar', 'South Bangalore', 'City Market',
       'Nagarbhavi', 'Bannerghatta Road', 'BTM', 'Kanakapura Road',
       'Bommanahalli', 'Somewhere in Bangalore(address was missing -_- )',
       'CV Raman Nagar', 'Electronic City', 'HSR', 'Marathahalli',
       'Sarjapur Road', 'Wilson Garden', 'Shanti Nagar',
       'Koramangala 5th Block', 'Koramangala 8th Block', 'Richmond Road',
       'Koramangala 7th Block', 'Jalahalli', 'Koramangala 4th Block',
       'Bellandur', 'Whitefield', 'East Bangalore', 'Old Airport Road',
       'Indiranagar', 'Koramangala 1st Block', 'Frazer Town', 'RT Nagar',
       'MG Road', 'Brigade Road', 'Lavelle Road', 'Church Street',
       'Ulsoor', 'Residency Road', 'Shivajinagar', 'Infantry Road',
       'St. Marks Road', 'Cunningham Road', 'Race Course Road',
       'Commercial Street', 'Vasanth Nagar', 'HBR Layout', 'Domlur',
       'Ejipura', 'Jeevan Bhima Nagar', 'Old Madras Road', 'Malleshwaram',
       'Seshadripuram', 'Kammanahalli', 'Koramangala 6th Block',
       'Majestic', 'Langford Town', 'Central Bangalore', 'Sanjay Nagar',
       'Brookefield', 'ITPL Main Road, Whitefield',
       'Varthur Main Road, Whitefield', 'KR Puram',
       'Koramangala 2nd Block', 'Koramangala 3rd Block', 'Koramangala',
       'Hosur Road', 'Rajajinagar', 'Banaswadi', 'North Bangalore',
       'Nagawara', 'Hennur', 'Kalyan Nagar', 'New BEL Road', 'Jakkur',
       'Rammurthy Nagar', 'Thippasandra', 'Kaggadasapura', 'Hebbal',
       'Kengeri', 'Sankey Road', 'Sadashiv Nagar', 'Basaveshwara Nagar',
       'Yeshwantpur', 'West Bangalore', 'Magadi Road', 'Yelahanka',
       'Sahakara Nagar', 'Peenya'], dtype=object)

In [138]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 51717 entries, 0 to 51716
Data columns (total 22 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   url                          51717 non-null  object
 1   address                      51717 non-null  object
 2   name                         51717 non-null  object
 3   online_order                 51717 non-null  int64
 4   book_table                   51717 non-null  int64
 5   rate                         51717 non-null  float64
 6   votes                        51717 non-null  int64
 7   phone                        51717 non-null  object
 8   location                     51717 non-null  object
 9   rest_type                    51717 non-null  object
 10  dish_liked                   51717 non-null  object
 11  cuisines                     51717 non-null  object
 12  approx_cost(for two people)  51717 non-null  float64
 13  reviews_list                 51717 non-null  object
 14  menu_item                    51717 non-null  object
 15  listed_in(city)              51717 non-null  object
 16  Buffet                       51717 non-null  uint8
 17  Cafes                        51717 non-null  uint8
 18  Delivery                     51717 non-null  uint8
 19  Desserts                     51717 non-null  uint8
 20  Dine-out                     51717 non-null  uint8
 21  Drinks & nightlife           51717 non-null  uint8
dtypes: float64(2), int64(3), object(11), uint8(6)
memory usage: 6.6+ MB

## Feature Selection using kbest.

In [189]:
from sklearn.feature_selection import SelectKBest
from sklearn.feature_selection import f_regression #regression because all x and y will be countinuous.

In [200]:
#selecting x(features) and y for prediction.
x = df.drop(columns = ['url','address','name','rate','phone','location','rest_type','dish_liked','cuisines','reviews_list','menu_item','listed_in(city)'])
y=df.rate
select = SelectKBest(score_func = f_regression,k=10) #finding best 10 columns which will effect rate.
fit = select.fit(x,y)
dfScores = pd.DataFrame(fit.scores_,columns=['scores'])
dfColumns = pd.DataFrame(x.columns,columns=['columns'])
dfNew = pd.concat([dfColumns,dfScores],axis=1)
print("\nThese are the columns which are effecting the 'rate' most. Higher the score - Higher the effect.")
dfNew.sort_values(['scores'],ascending=False)

These are the columns which are effecting the 'rate' most. Higher the score - Higher the effect.

                       columns        scores
2                        votes  11555.879433
1                   book_table  10659.869033
3  approx_cost(for two people)   7945.395200
9           Drinks & nightlife    670.897931
6                     Delivery    474.097720
4                       Buffet    431.439824
5                        Cafes    266.014643
0                 online_order    183.485732
7                     Desserts     83.843845
8                     Dine-out     42.643040

## predicting rate (multi linear regression)

In [202]:
from sklearn.linear_model import LinearRegression

In [203]:
regression = LinearRegression()

In [204]:
fit = regression.fit(x,y)

In [205]:
fit

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [208]:
fit.coef_

array([ 5.19890781e-02,  2.65751814e-01,  1.41329577e-04,  1.23434293e-04,
       -4.43522457e-02,  1.11286235e-01, -7.60603574e-03,  1.28183132e-01,
       -1.67685370e-02, -3.35874935e-02])

In [209]:
fit.intercept_

3.526490121501052

In [221]:
df.head(5)

,url,address,name,online_order,book_table,rate,votes,phone,location,rest_type,...,approx_cost(for two people),reviews_list,menu_item,listed_in(city),Buffet,Cafes,Delivery,Desserts,Dine-out,Drinks & nightlife
0,https://www.zomato.com/bangalore/jalsa-banasha...,"942, 21st Main Road, 2nd Stage, Banashankari, ...",Jalsa,1,1,4.1,775,080 42297555\r\n+91 9743772233,Banashankari,Casual Dining,...,800.0,"[('Rated 4.0', 'RATED\n A beautiful place to ...",[],Banashankari,1,0,0,0,0,0
1,https://www.zomato.com/bangalore/spice-elephan...,"2nd Floor, 80 Feet Road, Near Big Bazaar, 6th ...",Spice Elephant,1,0,4.1,787,080 41714161,Banashankari,Casual Dining,...,800.0,"[('Rated 4.0', 'RATED\n Had been here for din...",[],Banashankari,1,0,0,0,0,0
2,https://www.zomato.com/SanchurroBangalore?cont...,"1112, Next to KIMS Medical College, 17th Cross...",San Churro Cafe,1,0,3.8,918,+91 9663487993,Banashankari,"Cafe, Casual Dining",...,800.0,"[('Rated 3.0', ""RATED\n Ambience is not that ...",[],Banashankari,1,0,0,0,0,0
3,https://www.zomato.com/bangalore/addhuri-udupi...,"1st Floor, Annakuteera, 3rd Stage, Banashankar...",Addhuri Udupi Bhojana,0,0,3.7,88,+91 9620009302,Banashankari,Quick Bites,...,300.0,"[('Rated 4.0', ""RATED\n Great food and proper...",[],Banashankari,1,0,0,0,0,0
4,https://www.zomato.com/bangalore/grand-village...,"10, 3rd Floor, Lakshmi Associates, Gandhi Baza...",Grand Village,0,0,3.8,166,+91 8026612447\r\n+91 9901210005,Basavanagudi,Casual Dining,...,600.0,"[('Rated 4.0', 'RATED\n Very good restaurant ...",[],Banashankari,1,0,0,0,0,0

In [222]:
fit.predict([[0,0,88,300,1,0,0,0,0,0]])

array([3.53160517])

In [219]:
accuracy = fit.score(x,y)

In [220]:
print(accuracy*100,'%')

27.39837952710301 %